
{% extends 'base.html' %}
{% load static %}
{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  body{
    background: url("static/img/bg1.gif") top center;
       background-size:fill;
  }
    

   #navbar ul li .re:hover{
    color: #fdfcfb;
   }
   .container-fluid
   {
       height: 100vh;
       overflow-y: scroll;
       scroll-snap-type:y mandatory;
       margin: 0;
       scroll-behavior: smooth;
       padding: 0;
       
      
       position: relative; 
   }

   .contact
   {
    margin-top: 8.3vh;
    
   }
   #contact .container
   {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2em;

   }
    #contact .container form
   {
    background: transparent;
   }
   #contact .alert
   {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #a5ff95;
   }
   #contact .close
   {
    color: black;
   }
   #contact .form-control
   {
    color:rgb(202, 202, 202);
    background: transparent;
   }
   #contact-form-section{
    padding: 2em 1em;
    background: #01020fbd;
    border-radius: 1em;
   }
   .contact .email-form{
    width: 70% !important;
   }
   .address-section{
    background: #00000099;
   }
   .location-first::after{
    content: '';
    display: inline-block;
    width: 1px;
    position: absolute;
    height: 40%;
    right: 0;
    top: 60%;
    background-color: #ffffff9c;
   }
   @media (max-width:932px){
    .contact .email-form{
    width: 95% !important;
    }
   }
   @media (max-width:768px) {
    .address-kochi{
      margin-bottom: 2em;
    }
    .location-first::after{
      display: none;
    }
   }
</style>

<style>
  .pongal_text_theme{
      background-image: url('/static/pongal/bg/bg_fire.png');
      background-size: contain;
      background-repeat: repeat;
      background-clip: text;
      -webkit-background-clip: text;
    }
    .pongal_text_theme1{
      background-image: url('/static/pongal/bg/bg_fire1.png');
      background-size: contain;
      background-repeat: repeat;
      background-clip: text;
      -webkit-background-clip: text;
    }
    #pongal_gang{
      width: 40rem;
    }
    .pongal_gang_top{
      margin-top: -7.6rem;
    }
    @media screen and (max-width:991px)
    {
      #pongal_gang{
        width: 25rem;
      }
      .pongal_gang_top{
        margin-top: -4.8rem;
        margin-right: -1.5rem;
      }
    }
    @media screen and (max-width:767px)
    {
      #pongal_gang{
        width: 18rem;
      }
      .pongal_gang_top{
        margin-top: -3.5rem;
        margin-right: -1.5rem;
      }
    }
    @media screen and (max-width:320px)
    {
      #pongal_gang{
        width: 15rem;
      }
      .pongal_gang_top{
        margin-top: -2.8rem;
        margin-right: -1.5rem;
      }
    }
</style>

{% if current_theme == 'pongal' %}
<style>

#navbar .cont{
  background-image: url('/static/pongal/bg/bg_fire.png');
  background-size: contain;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
}
</style>
{% elif current_theme == 'vishu' %}
<style>
  #navbar .cont{
 color: yellow;
 text-shadow: 0px 0px 10px black;
}
.vishu_text_bg1{
  background-image: url('/static/vishu/bg/text_bg1.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
}
#vishu_little_krishna{
  width: 15.5rem;
}
.vishu_little_krishna_top{
  margin-top: -12.2rem;
}
@media screen and (max-width:500px)  {
  #vishu_little_krishna{
    width: 13.5rem;
  }
  .vishu_little_krishna_top{
    margin-top: -10.5rem;
  }
}
@media screen and (max-width:464px)  {
  #vishu_little_krishna{
    width: 9.5rem;
  }
  .vishu_little_krishna_top{
    margin-top: -7.5rem;
  }
}
@media screen and (max-width:417px)  {
  #vishu_little_krishna{
    width: 6.5rem;
  }
  .vishu_little_krishna_top{
    margin-top: -4.8rem;
  }
}
</style>
<!-- easter -->
{% elif current_theme == 'easter' %}
<style>
  #navbar .cont{
    background-image: url('/static/easter/bg/text_bg1.png');
    background-size: cover;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px rgba(132, 0, 255, 0.374);
    color: transparent;
    text-shadow: 0px 0px 10px black;
  }
  #eater_balloon{
    width: 22rem;
  }
  .eater_balloon_top{
    margin-top: -6rem;
  }
  @media screen and (max-width:767px) {
    #eater_balloon{
      width: 15rem;
    }
    .eater_balloon_top{
      margin-top: -2.5rem;
    }
  }
</style>
{% elif current_theme == 'xmas' %}
<style>
   #navbar .cont{
    color: red;
    font-weight: 800;
    
  }
  .xmas_text{
    color: white;
    text-shadow: 3px 3px 10px rgba(255, 0, 0, 0.797);
  }
  #santapen{
    width: 15rem;
  }
  .santapen_top{
    margin-top: -7.8rem;
    margin-left: 30rem;
  }
  @media screen and (max-width:540px){
    #santapen{
      width: 7rem;
    }
    .santapen_top{
      margin-top: -4.8rem;
      margin-left: 30rem;
    }
  }
</style>
{% elif current_theme == 'republic' %}
<style>
  #navbar .cont{
    color: orange;
    font-weight: 800; 
  }
  #india_map{
    width: 15rem;
   }
   .india_map_top{
    margin-top: -8rem;
   }
   @media screen and (max-width:991px) {
    #india_map{
      width: 12rem;
    }
    .india_map_top{
      margin-top: -6.5rem;
    }
   }
   @media screen and (max-width:767px){
    #india_map{
      width: 10rem;
    }
    .india_map_top{
      margin-top: -5.3rem;
    }
   }
   @media screen and (max-width:575px){
    #india_map{
      width: 7rem;
    }
    .india_map_top{
      margin-top: -3.75rem;
    }
   }
   @media screen and (max-width:393px){
    #india_map{
      width: 5rem;
    }
    .india_map_top{
      margin-top: -2.6rem;
    }
   }
</style>
{% elif current_theme == 'onam' %}
<style>
  #navbar .cont{
    color: orange;
  }
  .onam_text_sm_bg1{
    background-image: url('/static/onam/bg/text_bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px rgba(132, 0, 255, 0.374);
  }
  #onam_crowd{
    width: 40rem;
  }
  .onam_crowd_top{
    margin-top: -9rem;
  }
  /* responsive */
  @media screen and (max-width:767px) {
    #onam_crowd{
      width: 25rem;
    }
    .onam_crowd_top{
      margin-top: -5.5rem;
      margin-right: -0.5rem ;
    }
  }
  @media screen and (max-width:542px) {
    #onam_crowd{
      width: 20rem;
    }
    .onam_crowd_top{
      margin-top: -4.5rem;
      margin-right: -0.5rem ;
    }
  }
  @media screen and (max-width:484px) {
    #onam_crowd{
      width: 15rem;
    }
    .onam_crowd_top{
      margin-top: -3.2rem;
      margin-right: -0.5rem ;
    }
  }
</style>
{% elif current_theme == 'diwali' %}
<style>
  #navbar .cont{
    background: linear-gradient(to right,red,rgb(240, 125, 125));
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 10px rgba(132, 0, 255, 0.374);
  }
  #diwali_crowd{
    width: 25rem;
  }
  .diwali_crowd_top{
    margin-top: -6rem;
  }
  @media screen and (max-width:767px) {
    #diwali_crowd{
      width: 18rem;
    }
    .diwali_crowd_top{
      margin-top: -4.3rem;
    }
  }
  @media screen and (max-width:350px) {
    #diwali_crowd{
      width: 12rem;
    }
    .diwali_crowd_top{
      margin-top: -3rem;
    }
  }
</style>
{% else %}
<style>
  #navbar .cont{
    color: #189aa6;
    font-weight: 800;
  }
</style>
{% endif %}


<div class="container-fluid">

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact ">
    <div class="container" data-aos="fade-down">
      {% if msg %}
      <div class="alert alert-success alert-dismissible">
         <strong>{{msg}}.</strong>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        
      </div>
      {% endif %}

      <div class="section-title d-flex justify-content-start">
        <div class="contact-head">
          <h2>Contact</h2>
          {% if current_theme == 'pongal' %}
          <p class="pongal_text_theme" style="color: transparent;">Contact Us</p>
          {% elif current_theme == 'vishu' %} 
          <p class="vishu_text_bg1" style="color: transparent;">Contact Us</p>
          {% elif current_theme == 'easter' %} 
          <p class="easter_text_bg1" style="color: transparent;">Contact Us</p>
          {% elif current_theme == 'xmas' %} 
          <p class="xmas_text text-light">Contact Us</p>
          {% elif current_theme == 'republic' %}
          <p  style="color: transparent;" ><span class="fg_republic">Contact</span><span class="fg_republic"> Us</span></p>
          {% elif current_theme == 'onam' %}
          <p  style="color: transparent;" ><span class="onam_text_sm_bg1">Contact</span><span class="onam_text_sm_bg1"> Us</span></p>
          {% elif current_theme == 'diwali' %}
          <p  style="color: transparent;" ><span class="diwali_nav_text">Contact Us</span></p>
          {% else %}
          <p style="color: rgb(39, 112, 141);">Contact Us</p>
          {% endif %}
        </div>
      </div>

      {% if current_theme == 'pongal' %}
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 pongal_gang_top">
          <img id="pongal_gang" src="{% static 'pongal/decor/company_suggestion/as-removebg-preview.png' %}" alt="">
        </div>
      </div>
      {% elif current_theme == 'vishu' %} 
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 vishu_little_krishna_top">
          <img id="vishu_little_krishna" src="{% static 'vishu/decor/pot.png' %}" alt="">
        </div>
      </div>
      {% elif current_theme == 'easter' %} 
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 eater_balloon_top">
          <img id="eater_balloon" src="{% static 'easter/decor/ballons_all.png' %}" alt="">
        </div>
      </div>
      {% elif current_theme == 'republic' %}
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 india_map_top">
          <img id="india_map" src="{% static 'republic/decor/india_map_croped.png' %}" alt="">
        </div>
      </div>
      {% elif current_theme == 'onam' %}
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 onam_crowd_top">
          <img id="onam_crowd" src="{% static 'onam/decor/onam_crowd.png' %}" alt="">
        </div>
      </div>
      {% elif current_theme == 'diwali' %}
      <div class="position-relative">
        <div class="position-absolute top-0 end-0 diwali_crowd_top">
          <img id="diwali_crowd" src="{% static 'diwali/decor/diwali_wide_image.png' %}" alt="">
        </div>
      </div>
      {% endif %}

      <div id="contact-form-section" class="row mb-0">

        {% if current_theme == "xmas" %}
        <div class="position-relative" style="z-index: 1;">
          <div class="position-absolute santapen_top end-0">
            <img id="santapen" draggable="false" src="{% static 'xmas/decor/santa_with_pen.png' %}" alt="">
        </div>
        </div>
        {% endif %}

        <div class="col-lg-12 col-md-12 mt-5 mb-3 mt-lg-0 d-flex justify-content-center">

          <form action="{% url 'meeasges_send' %}" method="post"  class="email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required >
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required >
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" >
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required ></textarea>
            </div>
            <!-- <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div> -->
            <div class="text-center"><button type="submit" style="background-color: black; color:#ffff">Send Message</button></div>
          </form>

        </div>
      </div>
      
      <div class="row address-section py-4 px-2">
        <div class="col-lg-6 col-md-6 address-kochi" style="position: relative;">
          <div class="map-iframe">
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d503151.017142787!2d76.524882!3d9.861497!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x3b080d9bfaa6db61%3A0xa5df6acfc2d1e5fd!2sALTOS%20Technologies%2C%201st%20floor%2C%20Thapasaya%20Building%2C%20Infopark%2C%20Kakanad%2C%20Kochi%2C%20Kerala%20682042!3m2!1d10.0107422!2d76.36069859999999!5e0!3m2!1sen!2sin!4v1672377111826!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="location-details location-first">
            <div class="info row" style="background: transparent;">
              <div class="address col-md-6 mt-3">
                <i 
                {% if current_theme == 'pongal' %}
                class="bi bi-geo-alt me-2 text-light" 
                style="background-image: url('static/pongal/bg/blur_bg1.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'vishu' %} 
                class="bi bi-geo-alt me-2 text-light" 
                style="background-image: url('static/vishu/bg/sm_button_bg.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'easter' %} 
                class="bi bi-geo-alt me-2 text-light" 
                style="background-image: url('static/easter/bg/text_bg1_sm.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'xmas' %} 
                class="bi bi-geo-alt me-2 text-light bg-danger"
                {% elif current_theme == 'republic' %}
                class="bi bi-geo-alt me-2"
                style="background-image:linear-gradient(135deg,rgb(255, 115, 0),white,green); color:rgb(0, 0, 0)"
                {% elif current_theme == 'onam' %}
                class="bi bi-geo-alt me-2 text-light"
                style="background-color:rgb(255, 136, 0)"
                {% elif current_theme == 'diwali' %}
                class="bi bi-geo-alt me-2 text-light"
                style="background: linear-gradient(45deg,rgb(255, 89, 89),rgb(255, 163, 163));text-shadow: 1px 1px 1px black;"
                {% else %}
                class="bi bi-geo-alt me-2 text-dark" 
                style="background-color:#0fa49b; color:rgb(0, 0, 0)"
                {% endif %}
                ></i>
                <h4 style="color: #fdfcfb;">Location:</h4>
                <!-- <p class="mt-2 pb-2" style="color: #fdfcfb;">Kerala Branch</h6> -->
                <p style="color: rgb(169, 169, 169);"> 1st Floor - Thapasya Building
                  Infopark<br>
                  Kakkanad, Cochin</p>
                <!-- <p class="mt-2  pb-2" style="color: #fdfcfb;">Tamilnadu Branch</h6>
                <p style="color: rgb(169, 169, 169);"> First floor,D Block 
                  Tidel park,Tharamani,<br>
                  Chennai, Tamilnadu  600113</p> -->
              </div>
  
              <div class="email col-md-6 mt-3">
                <i 
                {% if current_theme == 'pongal' %}
                class="bi bi-envelope me-2 text-light" 
                style="background-image: url('static/pongal/bg/blur_bg1.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'vishu' %} 
                class="bi bi-envelope me-2 text-light" 
                style="background-image: url('static/vishu/bg/sm_button_bg.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'easter' %} 
                class="bi bi-envelope me-2 text-light" 
                style="background-image: url('static/easter/bg/text_bg1_sm.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'xmas' %} 
                class="bi bi-envelope me-2 text-light bg-danger"
                {% elif current_theme == 'republic' %}
                class="bi bi-envelope me-2"
                style="background-image:linear-gradient(135deg,rgb(255, 115, 0),white,green); color:rgb(0, 0, 0)"
                {% elif current_theme == 'onam' %}
                class="bi bi-envelope me-2 text-light"
                style="background-color:rgb(255, 136, 0)"
                {% elif current_theme == 'diwali' %}
                class="bi bi-envelope me-2 text-light"
                style="background: linear-gradient(45deg,rgb(255, 89, 89),rgb(255, 163, 163));text-shadow: 1px 1px 1px black;"
                {% else %}
                class="bi bi-envelope me-2 text-dark" 
                style="background-color:#0fa49b; color:rgb(0, 0, 0)"
                {% endif %}
                ></i>
                <h4 style="color: #fdfcfb;">Email:</h4>
                <p style="color: rgb(169, 169, 169);">Info@ altostechnologies.com</p>
              </div>
  
              <div class="phone col-md-6 mt-3">
                <i 
                {% if current_theme == 'pongal' %}
                class="bi bi-phone me-2 text-light" 
                style="background-image: url('static/pongal/bg/blur_bg1.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'vishu' %} 
                class="bi bi-phone me-2 text-light" 
                style="background-image: url('static/vishu/bg/sm_button_bg.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'easter' %} 
                class="bi bi-phone me-2 text-light" 
                style="background-image: url('static/easter/bg/text_bg1_sm.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'xmas' %} 
                class="bi bi-phone me-2 text-light bg-danger"
                {% elif current_theme == 'republic' %}
                class="bi bi-phone me-2"
                style="background-image:linear-gradient(135deg,rgb(255, 115, 0),white,green); color:rgb(0, 0, 0)"
                {% elif current_theme == 'onam' %}
                class="bi bi-phone me-2 text-light"
                style="background-color:rgb(255, 136, 0)"
                {% elif current_theme == 'diwali' %}
                class="bi bi-phone me-2 text-light"
                style="background: linear-gradient(45deg,rgb(255, 89, 89),rgb(255, 163, 163));text-shadow: 1px 1px 1px black;"
                {% else %}
                class="bi bi-phone me-2 text-dark" 
                style="background-color:#0fa49b; color:rgb(0, 0, 0)"
                {% endif %}
                ></i>
                <h4 style="color: #fdfcfb;">Call:</h4>
                <p style="color: rgb(169, 169, 169);"> +91 90741 56818</p>
                <!-- <p style="color: rgb(169, 169, 169);">Tamilnadu -  +91 73065 42853</p> -->
              </div>
  
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="map-iframe">
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.72271907129!2d80.24602337468745!3d12.989578514484595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d6202e54fb9%3A0xcf5fc0aac9108c7e!2sTIDEL%20Park%2C%20Rajiv%20Gandhi%20IT%20Expy%2C%20Tharamani%2C%20Chennai%2C%20Tamil%20Nadu%20600113!5e0!3m2!1sen!2sin!4v1692775999496!5m2!1sen!2sin"  frameborder="0" allowfullscreen loading="lazy" ></iframe>
          </div>

          <div class="location-details">
            <div class="info row d-flex justify-content-end" style="background: transparent;">
              <div class=" col-md-6 mt-3">
                <i {% if current_theme == 'pongal' %}
                class="bi bi-geo-alt me-2 text-light" 
                style="background-image: url('static/pongal/bg/blur_bg1.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'vishu' %} 
                class="bi bi-geo-alt me-2 text-light" 
                style="background-image: url('static/vishu/bg/sm_button_bg.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'easter' %} 
                class="bi bi-geo-alt me-2 text-light" 
                style="background-image: url('static/easter/bg/text_bg1_sm.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'xmas' %} 
                class="bi bi-geo-alt me-2 text-light bg-danger"
                {% elif current_theme == 'republic' %}
                class="bi bi-geo-alt me-2"
                style="background-image:linear-gradient(135deg,rgb(255, 115, 0),white,green); color:rgb(0, 0, 0)"
                {% elif current_theme == 'onam' %}
                class="bi bi-geo-alt me-2 text-light"
                style="background-color:rgb(255, 136, 0)"
                {% elif current_theme == 'diwali' %}
                class="bi bi-geo-alt me-2 text-light"
                style="background: linear-gradient(45deg,rgb(255, 89, 89),rgb(255, 163, 163));text-shadow: 1px 1px 1px black;"
                {% else %}
                class="bi bi-geo-alt me-2 text-dark" 
                style="background-color:#0fa49b; color:rgb(0, 0, 0)"
                {% endif %}></i>
                <h4 style="color: #fdfcfb;">Location:</h4>
                <!-- <p class="mt-2 pb-2" style="color: #fdfcfb;">Kerala Branch</h6>
                <p style="color: rgb(169, 169, 169);"> 1st Floor - Thapasya Building
                  Infopark<br>
                  Kakkanad, Cochin</p> -->
                <!-- <p class="mt-2  pb-2" style="color: #fdfcfb;">Tamilnadu Branch</h6> -->
                <p style="color: rgb(169, 169, 169);"> First floor,D Block 
                  Tidel park,Tharamani,<br>
                  Chennai, Tamilnadu  600113</p>
              </div>
  
              <div class="email col-md-6 mt-3">
                <i {% if current_theme == 'pongal' %}
                class="bi bi-envelope me-2 text-light" 
                style="background-image: url('static/pongal/bg/blur_bg1.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'vishu' %} 
                class="bi bi-envelope me-2 text-light" 
                style="background-image: url('static/vishu/bg/sm_button_bg.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'easter' %} 
                class="bi bi-envelope me-2 text-light" 
                style="background-image: url('static/easter/bg/text_bg1_sm.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'xmas' %} 
                class="bi bi-envelope me-2 text-light bg-danger"
                {% elif current_theme == 'republic' %}
                class="bi bi-envelope me-2"
                style="background-image:linear-gradient(135deg,rgb(255, 115, 0),white,green); color:rgb(0, 0, 0)"
                {% elif current_theme == 'onam' %}
                class="bi bi-envelope me-2 text-light"
                style="background-color:rgb(255, 136, 0)"
                {% elif current_theme == 'diwali' %}
                class="bi bi-envelope me-2 text-light"
                style="background: linear-gradient(45deg,rgb(255, 89, 89),rgb(255, 163, 163));text-shadow: 1px 1px 1px black;"
                {% else %}
                class="bi bi-envelope me-2 text-dark" 
                style="background-color:#0fa49b; color:rgb(0, 0, 0)"
                {% endif %}></i>
                <h4 style="color: #fdfcfb;">Email:</h4>
                <p style="color: rgb(169, 169, 169);">Info@ altostechnologies.com</p>
              </div>
  
              <div class="phone col-md-6 mt-3">
                <i {% if current_theme == 'pongal' %}
                class="bi bi-phone me-2 text-light" 
                style="background-image: url('static/pongal/bg/blur_bg1.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'vishu' %} 
                class="bi bi-phone me-2 text-light" 
                style="background-image: url('static/vishu/bg/sm_button_bg.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'easter' %} 
                class="bi bi-phone me-2 text-light" 
                style="background-image: url('static/easter/bg/text_bg1_sm.png');
                background-size: cover;
                background-repeat: no-repeat;"
                {% elif current_theme == 'xmas' %} 
                class="bi bi-phone me-2 text-light bg-danger"
                {% elif current_theme == 'republic' %}
                class="bi bi-phone me-2"
                style="background-image:linear-gradient(135deg,rgb(255, 115, 0),white,green); color:rgb(0, 0, 0)"
                {% elif current_theme == 'onam' %}
                class="bi bi-phone me-2 text-light"
                style="background-color:rgb(255, 136, 0)"
                {% elif current_theme == 'diwali' %}
                class="bi bi-phone me-2 text-light"
                style="background: linear-gradient(45deg,rgb(255, 89, 89),rgb(255, 163, 163));text-shadow: 1px 1px 1px black;"
                {% else %}
                class="bi bi-phone me-2 text-dark" 
                style="background-color:#0fa49b; color:rgb(0, 0, 0)"
                {% endif %}></i>
                <h4 style="color: #fdfcfb;">Call:</h4>
                <!-- <p style="color: rgb(169, 169, 169);">Kerala -  +91 90741 56818</p> -->
                <p style="color: rgb(169, 169, 169);">  +91 73065 42853</p>
              </div>
  
            </div>
          </div>
        </div>
      </div>

      <!-- <div>
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d503151.017142787!2d76.524882!3d9.861497!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x3b080d9bfaa6db61%3A0xa5df6acfc2d1e5fd!2sALTOS%20Technologies%2C%201st%20floor%2C%20Thapasaya%20Building%2C%20Infopark%2C%20Kakanad%2C%20Kochi%2C%20Kerala%20682042!3m2!1d10.0107422!2d76.36069859999999!5e0!3m2!1sen!2sin!4v1672377111826!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.72271907129!2d80.24602337468745!3d12.989578514484595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d6202e54fb9%3A0xcf5fc0aac9108c7e!2sTIDEL%20Park%2C%20Rajiv%20Gandhi%20IT%20Expy%2C%20Tharamani%2C%20Chennai%2C%20Tamil%20Nadu%20600113!5e0!3m2!1sen!2sin!4v1692775999496!5m2!1sen!2sin"  frameborder="0" allowfullscreen loading="lazy" ></iframe>
      </div> -->

      <!-- <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info" style="background: transparent;">
            <div class="address">
              <i class="bi bi-geo-alt" style="background-color:#0fa49b; color:rgb(0, 0, 0)"></i>
              <h4 style="color: #fdfcfb;">Location:</h4>
              <p class="mt-2 pb-2" style="color: #fdfcfb;">Kerala Branch</h6>
              <p style="color: rgb(169, 169, 169);"> 1st Floor - Thapasya Building
                Infopark<br>
                Kakkanad, Cochin</p>
              <p class="mt-2  pb-2" style="color: #fdfcfb;">Tamilnadu Branch</h6>
              <p style="color: rgb(169, 169, 169);"> First floor,D Block 
                Tidel park,Tharamani,<br>
                Chennai, Tamilnadu  600113</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"  style="background-color:#0fa49b; color:rgb(0, 0, 0)"></i>
              <h4 style="color: #fdfcfb;">Email:</h4>
              <p style="color: rgb(169, 169, 169);">Info@ altostechnologies.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"  style="background-color:#0fa49b; color:rgb(0, 0, 0)"></i>
              <h4 style="color: #fdfcfb;">Call:</h4>
              <p style="color: rgb(169, 169, 169);"> Kerala -  +91 90741 56818</p>
              <p style="color: rgb(169, 169, 169);">Tamilnadu -  +91 73065 42853</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="{% url 'meeasges_send' %}" method="post"  class="email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required >
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required >
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" >
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required ></textarea>
            </div> -->
            <!-- <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div> -->
            <!-- <div class="text-center"><button type="submit" style="background-color: black; color:#ffff">Send Message</button></div>
          </form>

        </div>

      </div> -->

    </div>
  </section><!-- End Contact Section -->
</div>

 
      {% endblock %}



